*.exe
*.sys
*.fnt
*.FNT
*.MID
*.o
*.bmp
*.O
*.obj
*.mid
*.ssv
*.TXT
*.imf
*.IMF
*.SWP
*.WAV
*.BMP
*.EXE
*.txt
*.bat
*.wav
*.err
*.WAV
log.txt
Makefile.*
Makefile
midi/
old/
*.out
a.out
tools/bmptosif/*.png
tools/bmptosif/*.bmp
*.SIF
*.sif
*.pal
*.PAL
tools/bmptosif/*.o
tools/bmptosif/*.elf
